

#body{
    
    
    border: 1px solid black;
    position: absolute;
    width: 900px;
    left: 450px;
    top: 140px;
    background: #fcba03;
}

img{
    
    height:70px;
    margin:05px;
    position: relative;
    top:20px;
    left: 35px;
    
}

#formBody{
    
    border: 1px solid black;
    margin: 50px;
    height: 330px;
    width: 500px;
    padding:10px;
    border-radius: 40px;
    position: relative;
    left: 110px;
    text-align: center;
    background:#23965b;
    
    
}

input{
    margin: 3px;
    width: 250px;
    height: 20px;
}

#message{
  position: relative;
  border: 1px solid black;
  width: 275px;
  height: 30px;
  left: 15px;
  top: 22px;
    margin: 2px;
    
}
#message p {
    
    text-align: left;
}

